{% extends 'base.html' %}

{% block navbar %}
    <a class="nav-link active" aria-current="page" href="{% url 'product' %}" style="color: blue;">Products</a>
    <span style="margin-top: 8px">|</span>
    <a class="nav-link active" aria-current="page" href="{% url 'create_product' %}" style="color: blue">Add product</a>
    <span style="margin-top: 8px">|</span>
    <a class="nav-link active" aria-current="page" href="{% url 'create_category' %}" style="color: blue">Add category</a>
{% endblock %}

    <title>{% block title %}Add Category{% endblock %}</title>

{% block content %}

<h1 style="margin-top: 50px; margin-bottom: 50px">Add Category</h1>
    <form method="post" action="{% url 'create_category' %}">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Title">
    <br>
    <br>
    <textarea name="description" placeholder="Description"></textarea>
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Add Category</button>
</form>

{% endblock %}