{% extends 'base.html' %}

{% block navbar %}
    <a class="nav-link active" aria-current="page" href="{% url 'product' %}" style="color: blue;">Products</a>
    <span style="margin-top: 8px">|</span>
    <a class="nav-link active" aria-current="page" href="{% url 'create_product' %}" style="color: blue">Add product</a>
    <span style="margin-top: 8px">|</span>
    <a class="nav-link active" aria-current="page" href="{% url 'create_category' %}" style="color: blue">Add category</a>
{% endblock %}


    <title>{% block title %}Delete Product{% endblock %}</title>

{% block content %}
<h1 style="margin-top: 50px">Вы точно хотите удалить этот продукт!? </h1>
<form method="post">
    {% csrf_token %}
<button type="submit" class="btn btn-success">ДА</button>
<a class="btn btn-danger" href="{% url 'home' %}" role="button">НЕТ</a>
</form>
{% endblock %}