{% extends 'base.html' %}

{% block navbar %}
    <a class="nav-link active" aria-current="page" href="{% url 'product' %}" style="color: blue;">Products</a>
    <span style="margin-top: 8px">|</span>
    <a class="nav-link active" aria-current="page" href="{% url 'create_product' %}" style="color: blue">Add product</a>
    <span style="margin-top: 8px">|</span>
    <a class="nav-link active" aria-current="page" href="{% url 'create_category' %}" style="color: blue">Add category</a>
{% endblock %}

    <title>{% block title %}Add Product{% endblock %}</title>

{% block content %}

<h1 style="margin-top: 50px">Редактировать запись</h1>
<form method="post" action="{% url 'create_product' %}">
    {% include 'partial/create_update_form.html' with value_submit='Заменить' %}
</form>
{% endblock %}